body {
  font-family: 'Karla', sans-serif;
  width: 1920px;
  text-align: center;
  font-size: 16px;
}

h1 {
  font-weight: 700;
  padding-left: 30px;
  padding-top: 40px;
  color: #45A6A5;
}

.top {
  border: 0 solid black;
  border-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 720px;
  height: 230px;
  margin: 75px auto 0 auto;
  text-align: left;
  -webkit-box-shadow: -3px 4px 16px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 4px 16px -9px rgba(0,0,0,0.75);
  box-shadow: -3px 4px 16px -9px rgba(0,0,0,0.75);
}

.top h2 {
  font-weight: 700;
  padding-left: 30px;
  font-size: 20px;
  color: #C2D956;
}

.top p {
  font-weight: 400;
  padding-left: 30px;
  font-size: 16px;
  color: #B1B5C0;
}

.left {
  border: 0 solid black;
  border-radius: 7px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 360px;
  height: 280px;
  margin: 75px auto 0 auto;
  text-align: left;
  -webkit-box-shadow: -3px 4px 16px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 4px 16px -9px rgba(0,0,0,0.75);
  box-shadow: -3px 4px 16px -9px rgba(0,0,0,0.75);
  position: relative;
  right: 180px;
  bottom: 75px;
  background-color: #2BB3B1;
}

.left h3 {
  padding-left: 50px;
  padding-top: 40px;
  letter-spacing: 0.5px;
  color: white;
}

.permonth {
padding-left: 50px;
color: #7BE3E4;
}

.pm:hover {
  color: white;
  letter-spacing: 2px;
  transition-duration: 1s;
}

.dollar {
  font-size: 36px;
  font-weight: 700;
  padding-right: 15px;
  color: #F6FFFF;
}

.perday {
  padding-left: 50px;
  color: #F6FFFF;
}

.button1 {
  border: 0 solid black;
  border-radius: 5px;
  background-color: #BFDF32;
  color: white;
  font-family: inherit;
  font-weight: 700;
  font-size: 19px;
  width: 250px;
  height: 40px;
  position: relative;
  left: 50px;
}

.button1:hover {
  background-color: #81C14B;
  transition-duration: 1s;
}

.right {
  border: 0 solid black;
  border-radius: 7px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 360px;
  height: 280px;
  margin: 75px auto 0 auto;
  text-align: left;
  -webkit-box-shadow: -3px 4px 16px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 4px 16px -9px rgba(0,0,0,0.75);
  box-shadow: -3px 4px 16px -9px rgba(0,0,0,0.75);
  position: relative;
  left: 180px;
  bottom: 430px;
  background-color: #4ABEBD;
}

.right h3 {
  padding-left: 50px;
  padding-top: 40px;
  letter-spacing: 0.5px;
  color: white;
}

.list1 {
  list-style: none;
  padding-left: 50px;
  color: #f5fffc;
}

.list1 li:hover {
  letter-spacing: 0.6px;
  transition-duration: 0.5s;
}
